<br>
<center>
  <div style="display: inline-block; vertical-align: middle;">
    <a href="{{ '/' | relative_url }}" class="title"><b>{{ site.title | upcase }}</b><br></a>
    <hr>
    <div style="text-align: justify; display: inline-block; width: 100%;">
      <a class="title" href="{{ '/contact/' | relative_url }}">CONTACT</a>&nbsp;&nbsp;&nbsp;
      <a class="title" href="https://aicardnews.com" target="_blank">CARDNEWS</a>&nbsp;&nbsp;&nbsp;
      <a class="title" href="{{ '/' | relative_url }}#publications">PUBLICATIONS</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="title" href="#">ANY IDEAS?</a>
    </div>
  </div>
</center>
<br><br>
